html, body {
  height:100%;
}
body {
  display: flex;  
  flex-direction: column;
  justify-content:stretch;
  align-content: stretch;
}
spar-link {
  display:inline-block;
  text-decoration: underline;
}
#links {
  display:flex;
  justify-content:space-around;
  margin-top: 10px;
  margin-bottom:10px;
}
.index-route {
  overflow:scroll;
}
#display {
  height:50%;
}
#markup {
  display:flex; 
}
.html {
  width:50%;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.prettyprint {
  font-size:10px;  
}
